allow vendor_init media_rw_data_file:{ dir file } getattr;
allow vendor_init media_rw_data_file:file relabelfrom;
allow vendor_init device:file create_file_perms;
allow vendor_init sysfs:file write;
#allow vendor_init system_data_file:dir { add_name create setattr write };
allow vendor_init tombstone_data_file:dir setattr;
