# Initialization
on property:sys.boot_completed=1
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
   chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
   chown system system /sys/module/workqueue/paramaters/power_efficient
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/governor
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/governor

# Set default profile on first boot
    exec u:r:init:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:magisk:s0 root root -- /vendor/bin/init.spectrum.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.spectrum.sh

# Enable Spectrum support
   setprop spectrum.support 1

# Add kernel name
   setprop persist.spectrum.kernel DAISY

# Balance
on property:persist.spectrum.profile=0
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1689600
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1401600:80"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpufreq/interactive/use_sched_load 1
    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1
        # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler cfq

# Performance (default profile)
on property:persist.spectrum.profile=1
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1401600:80"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpufreq/interactive/use_sched_load 1
    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1
        # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler cfq

# Battery
on property:persist.spectrum.profile=2
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "19000 1401600:39000"
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 0
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1401600:80"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000
    write /sys/devices/system/cpu/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpufreq/interactive/use_sched_load 1
    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 400000000
    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1
        # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler cfq

# Gaming
on property:persist.spectrum.profile=3
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1
    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler deadline

#!/system/bin/sh

# If there is not a persist value, we need to set one
if [ ! -f /data/property/persist.spectrum.profile ]; then
    setprop persist.spectrum.profile 0
fi
