import /vendor/etc/init/hw/init.spectrum.rc

on init
    mount none /sbin/chargeonlymode /sbin/charger bind

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:init.svc.citsensor-hal-1-1=running
    stop citsensor-hal-1-1

on property:init.svc.vendor.misys=running
    stop vendor.misys
